@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4CAF50;
  --secondary-color: #8BC34A;
}

@theme {
  --color-ufoundationDarkMain: #0A3E44;
  
  --color-rockfallLightMain: #E4F1A7;
  --color-ufoundationLightMain: #E4F1A7;
  --color-customRed: #EE551D;
  /* --color-customPurple: #290484; */
}


body {
  @apply text-gray-800;
}

.container {
  @apply max-w-7xl mx-auto;
}

section {
  @apply scroll-mt-20;
}